COMPOSE_PROJECT_NAME=basic
COMPOSE_NETWORK=${COMPOSE_PROJECT_NAME}-docker

# Mautic Configuration
MAUTIC_VERSION=6.0.5-apache
MAUTIC_PORT=8001

# Database Configuration
MYSQL_HOST=db.${COMPOSE_NETWORK}
MYSQL_PORT=3306
MYSQL_DATABASE=mautic_db
MYSQL_USER=mautic_db_user
MYSQL_PASSWORD=CHANGE_ME_STRONG_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_STRONG_ROOT_PASSWORD

# Mautic Runtime Configuration
DOCKER_MAUTIC_RUN_MIGRATIONS=true
DOCKER_MAUTIC_LOAD_TEST_DATA=false
